.DS_Store
*/.DS_Store

__pycache__/
*/__pycache__/

*.pyc

pydemos/.pytest_cache/

monkeyreports/

pytests/outputs/

apitest/outputs/*.html
apitest/outputs/assets
apitest/outputs/logs
apitest/outputs/reports
apitest/outputs/results

mlcode/tf/epic_num_reader.model
