*.pyc
monkeytest/__pycache__/
monkeyreports/

pydemos/__pycache__/
pydemos/.pytest_cache/

.DS_Store
apitest/.DS_Store

pytests/outputs/

apitest/outputs/*.html
apitest/outputs/assets
apitest/outputs/logs
apitest/outputs/reports
apitest/outputs/results
